.diagram {
	border: 2px solid red;
	padding: 79px 0px 0px 0px;
	display: flex;
	justify-content: space-between;

	&__item {
		border: 2px solid green;
		display: inline-block;
		position: relative;
		text-align: center;
	}

	&__ellips {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url("../images/order/ellips.png") no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__img {
		width: 100px;
		height: 100px;
	}

	&__icon {
	}

	&__text {
		color: #ffffff;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: 20px;
		text-align: center;
		padding: 20px 0px 0px 0px;
		margin: 0;
	}
	&__text_1 {
		max-width: 135px;
	}
	&__text_4 {
		max-width: 130px;
	}
	&__text_5 {
		max-width: 170px;
	}
}
