.footer {
	background-color: #3d4050;
}
.footer__body {
	padding: 35px 0px 33px 0;
	display: flex;
}
.footer__copyright {
	color: #ffffff;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 14px;
	text-align: left;
}
.footer__decor {
	width: 1px;
	height: 18px;
	background-color: #c3c3c3;
	margin: 0px 44px 0px 60px;
}
.footer__decor_next {
	margin: 0px 44px 0px 0px;
}
.footer__payment {
	display: flex;
	color: #c3c3c3;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 18px;
	text-align: left;
}
.footer__pay {
	margin: 0px 46px 0px 0px;
}
.footer__social {
	display: flex;
}
.footer__social-item {
	color: #ffffff;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 18px;
	text-align: left;
}
.footer__social-item_email {
	margin: 0px 40px 0px 0px;
}
